<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!--Dev icons Fonts-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <!--Css do Projeto-->   

    <title>Card HTML + CSS</title>
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="row">
      <div class="card green">
        <h3>BACHARELADO EM ENGENHARIA DE COMPUTAÇÃO</h3>
        <P>
          <p> 1.a - Local: Centro Universitário do Distrito Federal – UDF</p>
          <p> 1.1.a - Local: Centro Universitário do Distrito Federal – UDF</p>
          <p> 1.1.1.a - Concluído em: 2022:</p>
          <a href="#">Diploma</a>
        </p>
        <img class="image" src="money.png" alt="" />
      </div>

      <div class="card green">
        <h3>Técnico em Telecomunicação</h3>
        <p>          
          <p> 1.b - Local: Escola Técnica de Brasília.</p>
          <p> 1.1.b - Concluído: 11 de julho de 2017</p>
          <a href="#">Diploma</a>
        </p> 
          <i class="devicon-github-original"></i>     
      </div>

      <div class="card green">
        <h3>Técnico em Informática</h3> 
        <p>
          <p> 1.c - Local: Escola Técnica de Ceilândia.</p>
          <p> 1.1.c - Concluído: 17 de julho de 2015 </p>
          <a href="#">Diploma</a>
        </p>           
       </div>
    </div>
    <div class="row">
        <div class="card green">
          <h2>Técnico em Eletrônica</h2>
          <p>
            <p> 1.d - Local: Escola Técnica de Ceilândia.</p>
            <p> 1.1.d – 15 de março de 2003:</p>
            <a href="#">Diploma</a>
          </p>
        
        </div>
  
        <div class="card blue">
          <h3>Criação de Sistema WEB com Diango 2.1</h3>                          
          <p>                
            <p> 1.e - Curso online: Udemy.</p>
            <p> 1.1.e - Carga Horária: 5 h/a</p>
            <p> 1.1.1.e - Concluído em:01 de setembro de 2020:</p>
            <a href="#">Certificado</a>
            </p>
        <p> 
        </div>
  
        <div class="card blue">
          <h3>Raspberry Pi – curso completo e Prática</h3>            
          <p>
            <p> 1.f - Curso online: Udemy.</p>
            <p> 1.1.f - Carga Horária: 13 h/a</p>
            <p> 1.1.1.f - Concluído em:03 de Dezembro de 2020:</p>
            <a href="#">Certificado</a>
            </p>   
        </div>
      </div>
      <div class="row">
        <div class="card blue">
          <h3>Python para Técnico e Engenheiros</h3>
          <p>
            <p> 1.g - Curso online: Udemy.</p>
            <p> 1.1.g - Carga Horária:4,5 h/a</p>
            <p> 1.1.1.g - Concluído em: 15 março de 2019.</p>
            <a href="#">Certificado</a>
          <p>
        </div>
        <div class="card blue">
          <h3> Aprenda a Raspberry Pi construindo um RobôDatabses</h3>
          <p>
            <p> 1.1.h - Curso online: Udemy.</p>
            <p> 1.1.h - Carga Horária:4,5 h/a</p>
            <p> 1.1.1.h - Concluído em: 27 Novembro de 2019.</p>
            <a href="#">Certificado</a>
        </p>
        </div>         
      </div>
      

    <div class="footer" id="footer"></div>
    <script src="footer.js"></script>
  </body>
</html>
