<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <!--Ion Icons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <!--Css do Projeto-->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/vldmr.jpg" />
    <script src="/static/js/scripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/stylos.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Valdemir Alves de Olivera </title>
</head>
<body>
<div class="row">
    <div class="marcador col-md-6 offset-md-3">Login...</div>
    <header id="header" class="row">
        <div id="logo-container">
            <h1>Valdemir Alves de Oliveria </h1>

            <img id="img_redonda" src="#" alt="Foto de Valdemir">
        </div>
        <nav class="navbar  sticky-top navbar-expand-sm navbar-light  ml">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="#fomacao">Formação</a>
                </li>
                <li>
                    <a class="nav-link" href="#especializacao">Especialização</a>
                </li>
                <li>
                    <a class="nav-link" href="#conhecimentos">Conhecimentos</a>
                </li>
                <li>
                    <a class="nav-link" href="#idiomas">Idiomas</a>
                </li>
                <li>
                    <a class="nav-link" href="#experiencia_prof">Experiência profissional</a>
                </li>
                <li>
                    <a class="nav-link" href="#contato">Contato</a>
                </li>
                <li>
                    <a class="nav-link" href="/templates//index.html">voltar</a>
                </li>

            </ul>

        </nav>
    </header>
</div>
<div class="row">
    <div class="marcador col-md-6 offset-md-3">Login...</div>
    <div>
        
            <h2 id="formacao">Formação:</h2>
            <p>
            <h3> Pós-Graduado em Desenvolvimeto de Software com Prática DEVOPS</h3>
            <strong>2º semestre letivo de 2023 - Atual:</strong>
            Local: CRUZEIRO DO SUL_POLO_GUARA II
            </p>
  
    </div>
    <div col-4>
        
            <h3 id="especializacao">Especialização</h3>
            <div class="row">
                <div class="card green">
                    <h3>BACHARELADO EM ENGENHARIA DE COMPUTAÇÃO</h3>
                    <P>
                    <p> 1.a - Local: Centro Universitário do Distrito Federal – UDF</p>
                    <p> 1.1.a - Local: Centro Universitário do Distrito Federal – UDF</p>
                    <p> 1.1.1.a - Concluído em: 2022:</p>
                    <a href="#">Diploma</a>
                    </p>
                    <img class="image" src="money.png" alt="" />
                </div>

                <div class="card green">
                    <h3>Técnico em Telecomunicação</h3>
                    <p>
                    <p> 1.b - Local: Escola Técnica de Brasília.</p>
                    <p> 1.1.b - Concluído: 11 de julho de 2017</p>
                    <a href="#">Diploma</a>
                    </p>
                    <i class="devicon-github-original"></i>
                </div>

                <div class="card green">
                    <h3>Técnico em Informática</h3>
                    <p>
                    <p> 1.c - Local: Escola Técnica de Ceilândia.</p>
                    <p> 1.1.c - Concluído: 17 de julho de 2015 </p>
                    <a href="#">Diploma</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="card green">
                    <h2>Técnico em Eletrônica</h2>
                    <p>
                    <p> 1.d - Local: Escola Técnica de Ceilândia.</p>
                    <p> 1.1.d – 15 de março de 2003:</p>
                    <a href="#">Diploma</a>
                    </p>

                </div>

                <div class="card blue">
                    <h3>Criação de Sistema WEB com Diango 2.1</h3>
                    <p>
                    <p> 1.e - Curso online: Udemy.</p>
                    <p> 1.1.e - Carga Horária: 5 h/a</p>
                    <p> 1.1.1.e - Concluído em:01 de setembro de 2020:</p>
                    <a href="#">Certificado</a>
                    </p>
                    <p>
                </div>

                <div class="card blue">
                    <h3>Raspberry Pi – curso completo e Prática</h3>
                    <p>
                    <p> 1.f - Curso online: Udemy.</p>
                    <p> 1.1.f - Carga Horária: 13 h/a</p>
                    <p> 1.1.1.f - Concluído em:03 de Dezembro de 2020:</p>
                    <a href="#">Certificado</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="card blue">
                    <h3>Python para Técnico e Engenheiros</h3>
                    <p>
                    <p> 1.g - Curso online: Udemy.</p>
                    <p> 1.1.g - Carga Horária:4,5 h/a</p>
                    <p> 1.1.1.g - Concluído em: 15 março de 2019.</p>
                    <a href="#">Certificado</a>
                    <p>
                </div>
                <div class="card blue">
                    <h3> Aprenda a Raspberry Pi construindo um RobôDatabses</h3>
                    <p>
                    <p> 1.1.h - Curso online: Udemy.</p>
                    <p> 1.1.h - Carga Horária:4,5 h/a</p>
                    <p> 1.1.1.h - Concluído em: 27 Novembro de 2019.</p>
                    <a href="#">Certificado</a>
                    </p>
                </div>
            </div>
       
    </div>
    <div col-4>

      
            <h3 id="conhecimentos">Conhecimentos</h3>
            <p>
                1.a – Atualmente sou Suporte Técnico ao Usuário como mantença e configuração de microcomputadores,
                tanto da parte de cabeamento estruturado incluindo montagens de Rack para servidores,
                instalações de sistemas operacionais, gerenciamento de redes e serviços de backup,
                opera “softwares” gerenciadores e monitoração do ambiente de infraestrutura de TI.
            </p>
            <p>1. 2. 1. a – Foco em Inteligencia Artificial e Desenvolvimento Web </p>

            <p>1.2..2.a – Porém possuo conhecimento em linguagem em programação em C#,C++ para Arduíno, Raspberry,
                esp32.
            </p>

            <p>1. 2.3 a – Atualmente estou investindo na linguagem Python utilizando o Micro-framework Flask.</p>

            <p>1. 2.4 a – Procuro especializa na linguagem Python utilizando a IDE Pycharm ou Visual Studio Code pela
                Udemy
                e
                entre outro curso oferecido por ela nessa área de Desenvolvimento.</p>
        
            <h3 id="idiomas">Idiomas</h3>
            <p>
                Meu inglês é básico, mas procuro sempre aprender mais do idioma.
            </p>
       
            <h3 id="experiencia_prof">Experiência profissional</h3>
            <p>
                <strong> Empresa: PLANSUL PLANEJAMENTO E COSULTORIA</strong>
            <p> 1.a – Local: Câmara dos Deputados: Anexo II DTAQ Solos sala 21 COSEV.</p>
            <p> 1.1.a - Cargo: Técnico de Apoio a Infraestrutura de TI – Nível III.</p>
            <p> 1.1.a - Atividades: Suporte técnico em infraestrutura rede de Computadores, Posto de votação, Painel de
                votação.
            </p>
            <p> 1.1.a - Tempo de Contrato:07/04/2021 à 27/12/2022.</p>
            </p>
            <p>
                <strong> Empresa: CETRO RM SERVICOS Ltda.</strong>
            <p> 1.c – Local: Câmara dos Deputados: Anexo II DTAQ Solos sala 21 COSEV.</p>
            <p> 1.1.c - Cargo: Técnico de Apoio a Infraestrutura de TI – Nível III.</p>
            <p> 1.1.c - Atividades: Suporte técnico em infraestrutura rede de Computadores, Posto de votação, Painel de
                votação.
            </p>
            <p> 1.1.c - Tempo de Contrato:04/04/2021 à 01/07/2021.</p>
            </p>
            <p>
                <strong> Empresa: BS Tecnologia e Serviços Ltda.</strong>
            <p> 1.d – Local: Câmara dos Deputados: Anexo II DTAQ Solos sala 21 COSEV.</p>
            <p> 1.1.d - Cargo: Técnico de Apoio a Infraestrutura de TI – Nível III.</p>
            <p> 1.1.d - Atividades: Suporte técnico em infraestrutura rede de Computadores, Posto de votação, Painel de
                votação.
            </p>
            <p> 1.1.d - Tempo de Contrato:07/04/202019 à 03/07/2021.</p>
            </p>
       
    </div>
    <div class="row">
        <div class="marcador col-md-6 offset-md-3">Login...</div>
    
            <h3 id="contato">Rede Sociais:</h3>

            <ul id="social-container">
                <li><a href="" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                <li><a href="" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                <li><a href="" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="/templates/cv.html">voltar</a></li>
            </ul>
       
    </div>
     

</body>
</html>

