<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous" defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,900&display=swap" rel="stylesheet">
        <!--Dev icons Fonts-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
         <!-- Ícones -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/static/js/bootstrap.min.js">
         <link rel="stylesheet" href="/static/js/bootstrap.bundle.min.js">
         <link rel="stylesheet" href="/static/css/stilos.css"> 
        <link rel="stylesheet" href="/static/css/stylos.css">         
         <link  rel="icon" type="image/png" sizes="16x16" id="img_redonda" href="/static/img/vldmr.jpg"/> 
         <link rel="stylesheet" href="/static/css/bootstrap.min.css">
         <script src="/static/js/scripts.js" defer></script>
         <title>Portfólio Valdemir Alves de Olivera </title>
     </head>
<body class="div2_fundo">
  <!-- HEADER -->
    <div id="div_fundo"   class="container-fluid">
      <header id="header" class="row">
        <div>
            <img id="img-redonda" id="logo" src="/static/img/vldmr.jpg" alt="fotoValdemir">
        </div>
        <h1  class="text-light">Valdemir Alves de Oliveria </h1>
    </header>             
    </div>
    
    <div class="container col-11 col-md-9" id="form-container">
        <section>
            <nav id="navbar" class="container">
                <div class="row justify-content-center">
                    <a href="/templates/index.html">Home</a>
                    <a href="/templates/cv1.html">C.V</a>
                    <a href="/templates/Diplo&Certi.html">Diploma&Certificado</a>
                </div>
                </nav>
        </section>
        <div class="row align-items-center gx-5">
           
            <div class="col-md-6 order-md-2">
                <aside><!-- Início aside -->
                   
				<section id="galeria" class="col-md order-md-2">
                    <h4>Galeria </h4>

                    <a href="/templates/Diplo&Certi.html">
						<img src="/static/img/DiplomaEng.JPG" height="93" width="93">
					</a>
									
					<a href="/templates/Diplo&Certi.html">
						<img src="/static/img/certificado1.JPG" height="93" width="93" alt="Descricao imagem">
					</a>

					<a href="/templates/Diplo&Certi.html">
						<img src="/static/img/DiplomaEletronicaValdemir.JPG" height="93" width="93">
					</a>

					<a href="/templates/Diplo&Certi.html">
						<img src="/static/img/DiplomaTecnicoTIvaldemir.JPG" height="93" width="93">
					</a>

					<a href="/templates/Diplo&Certi.html">
						<img src="/static/img/DiplomaTeleconValdemir.JPG" height="93" width="93">
					</a>
                    <a href="/templates/Diplo&Certi.html">
						<img src="/static/img/DiplomaEletronicaValdemir.JPG" height="93" width="93">
					</a>
                   

				</section>
                </aside>
                
            </div>
            <div class="col-md-6 order-md-1">
                <img id="img_fundo" src="/static/img/logo.JPG" alt="logovaldemir">
                <section>
                    <P id="title" class="description"> “O trabalho vai preencher uma grande parte da sua vida, e a única maneira de
                        ficar
                        completamente satisfeito
                        é fazer o que você acredita ser um bom trabalho "</P>
                      <span class="highlight"> 8 de set. de 2015_Steve Jobs</span>
                </section>
              
            </div>
        </div>
        <section >
    
          <footer >
             
              <div  class="row justify-content-center" id="social-icons-container">
                  <div class="col-1">
                      <a href="#"><i class="bi bi-whatsapp secondary-color"></i></a>
                  </div>
                  <div class="col-1">
                      <a href="#"><i class="bi bi-instagram secondary-color"></i></a>
                  </div>
                  <div class="col-1">
                      <a href="#"><i class="bi bi-telegram secondary-color"></i></a>
                  </div>
              </div>
               <p class="secondary-color"> valdemir &copy; 2023</p>         
          </footer> 
    
      </section>
      
    </div>
    
  </div>
</body>
</html>